*{
    /*set universal margin, padding, and font type*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
}

h1{
    /*set global style for H1 tags*/
    text-align: center;
    font-size: 3rem;
}

h2{
    /*set global style for H2 tags*/
}

h3{
    /*set global style for H3 tags*/
}

p{
    /*set global styles for p tags*/
}

a{
    /*set global link settings*/
}

body{
    /*set background color for the whole page*/
}

header{
    /*add a background image*/
    /*center the H1*/
    /*change the font color to white*/
    /*change the height of the header*/
    /*center the header content*/
    background-color:blue
    
}

.sub-header{
    text-align: center;
    font-size: 1.5rem;
}

.container{
    /*set padding for the main content*/
    padding: 5rem 10rem 0rem 10rem ;
}

section{
    
}

.about{

}

.blog{

}

.contact{

}

.button{

}

.footer{

}

.copyright{
    
}